<%- include('_layouts/header') %>
<div class="col-md-4 offset-md-4">
    <div class="card text-center">
        <div class="card-body">
            <h1><%= title %></h1>
            <form action="/users/register" method="POST">
                <div class="md-form">
                    <input type="text" name="name" class="form-control">
                    <label>Name</label>
                </div>

                <div class="md-form">
                    <input type="text" name="email" class="form-control">
                    <label>Email</label>
                </div>

                <div class="md-form">
                    <input type="text" name="username" class="form-control">
                    <label>Username</label>
                </div>

                <div class="md-form">
                    <input type="password" name="password" class="form-control">
                    <label>Password</label>
                </div>

                <div class="md-form">
                    <input type="password" name="password2" class="form-control">
                    <label>Confirm password</label>
                </div>

                <div>
                    <button type="submit" class="btn btn-success btn-block">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include('_layouts/footer') %>