<div class="modal fade" id="request-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="request-name"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="add-friend" method="POST">
                <input type="hidden" name="receiverName" id="receiver-name" value="">
                <div class="modal-body text-center">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-user mr-2"></i> Add Friend</button>
                    <a class="btn btn-dark" id="view-profile-link"><i class="fa fa-eye mr-2"></i> View Profile</a>
                </div>
            </form>
        </div>
    </div>
</div>