<script id="chat-template" type="text/x-handlebars-template">
    <div class="clearfix"></div>
    <div class="message mt-2">
        <p class="mb-1">{{text}} <em class="d-block text-right"><small>{{time}}</small></em></p>
        <div class="chip">
            <img src="http://placehold.it/100x100" alt="Contact Person"> {{sender}}
        </div>
    </div>
    <div class="clearfix"></div>
</script>
<script id="chat-template-owner" type="text/x-handlebars-template">
    <div class="clearfix"></div>
    <div class="message msg-owner mt-2">
        <p class="mb-1">{{text}} <em class="d-block text-right"><small>{{time}}</small></em></p>
        <div class="chip">
            <img src="http://placehold.it/100x100" alt="Contact Person"> {{sender}}
        </div>
    </div>
    <div class="clearfix"></div>
</script>