<aside class="mb-3">
    <div id="accordion">
        <div class="card border-none rounded-0">
            <div class="card-header" id="headingOne">
                <a href="/" class="btn btn-link d-flex justify-content-between align-items-center">
                    Dashboard <i class="fa text-muted fa-bar-chart"></i>
                </a>
            </div>
        </div>
        <div class="card border-none rounded-0">
            <div class="card-header" id="headingOne">
                <a href="#" class="btn btn-link d-flex justify-content-between align-items-center"
                   data-toggle="collapse" data-target="#c2" aria-expanded="true"
                   aria-controls="collapseOne">
                    Users <i class="fa text-muted fa-users"></i>
                </a>
            </div>
            <div id="c2" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body py-2">
                        <a href="/users/" class="nav-link">All Users</a>
                        <a href="/users/new" class="nav-link">New User</a>
                </div>
            </div>
        </div>
        <div class="card border-none rounded-0">
            <div class="card-header" id="headingOne">
                <a href="#" class="btn btn-link d-flex justify-content-between align-items-center"
                   data-toggle="collapse" data-target="#c3" aria-expanded="true"
                   aria-controls="collapseOne">
                    Push Campaigns <i class="fa text-muted fa-bullhorn"></i>
                </a>
            </div>
            <div id="c3" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body py-2">
                        <a href="/campaigns/" class="nav-link">All Push Campaigns</a>
                        <a href="/campaigns/new" class="nav-link">New Push Campaign</a>
                </div>
            </div>
        </div>
        <div class="card border-none rounded-0">
            <div class="card-header" id="headingOne">
                <a href="/subscribers/" class="btn btn-link d-flex justify-content-between align-items-center">
                    Subscribers <i class="fa text-muted fa-check"></i>
                </a>
            </div>
        </div>
        <div class="card border-none rounded-0">
            <div class="card-header" id="headingOne">
                <a href="#" class="btn btn-link d-flex justify-content-between align-items-center"
                   data-toggle="collapse" data-target="#c5" aria-expanded="true"
                   aria-controls="collapseOne">
                    Websites <i class="fa text-muted fa-globe"></i>
                </a>
            </div>
            <div id="c5" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body py-2">
                        <a href="/websites/" class="nav-link">All Wesites</a>
                        <a href="/websites/new" class="nav-link">New Website</a>
                </div>
            </div>
        </div>
        <div class="card border-none rounded-0">
            <div class="card-header" id="headingOne">
                <a href="/settings" class="btn btn-link d-flex justify-content-between align-items-center">
                    Settings <i class="fa text-muted fa-cogs"></i>
                </a>
            </div>
        </div>
    </div>
</aside>