{{> _navbar }}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            {{> _sidebar}}
        </div>
        <div class="col-md-9">
            <h1>{{ title }}</h1>
        </div>
    </div>
</div>
<div id="npa-id" data-npa-id="5ac1fe4a85cec74665f89ce0"></div>
<script src="/js/npaInit.js"></script>